* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.clearfix::after {
    content: ''; 
    display: table; 
    clear: both;
}
/*HEADER*/
header {
    width: 100%;
    height: 630px;
}
.toph {
    width: 100%;
    height: 80px;
    background-color: #3161e0;
}
.toph .container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.toph .container .col {
    float: left;
    height: 80px;
    line-height: 80px;
}
.toph .container .col.side {
    width: 20%;
}
.toph .container .col.center {
    width: 60%;
    text-align: center;
    color: #fff;
}
#logo {
    vertical-align: middle;
}
.toph .container .col.center ul {
    list-style: none;
}
.toph .container .col.center ul li {
    display: inline-block;
    margin-left: 30px;
}
.toph .container .col.center ul li a {
    text-decoration: none;
    color: #fff;
}
.toph .container .col.center ul li a:hover {
    color: #000;
}
.toph .container .col.side.log {
    text-align: right;
}
.button {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 25px;
}
.toph .container .col.side.log .button {
    background-color: #fff;
    color: #000;
}
.toph .container .col.side.log a:hover {
    background-color: #000;
    color: #fff;
}
.bottomh {
    width: 100;
    height: 550px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
}
.bottomh .container {
    width: 800px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    font-size: 60px;
}
.bottomh .container p {
    font-size: 21px;
    line-height: 1.5em;
}
.bottomh .container .button {
    display: inline-block;
    margin-left: 20px;
    font-size: 21px;
}
.bottomh .container .button.white {
    background-color: #fff;
    color: #000;
}
.bottomh .container .button.black {
    background-color: #23272a;
    color: #fff;
}
/*MAIN*/
.main {
    width: 100%;
    height: 750px;
    position: relative;
}
.main.two, .main.four {
    background-color: #f6f6f6;
}
.main.four {
    height: 1300px;
    text-align: center;
    
}
.main .container {
    width: 1200px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main .container .col {
    float: left;
}
.main .container .col.small {
    width: 40%;
    height: 100%;
}
.main .container .col.big {
    width: 60%;
    height: 100%;
}
.main .container .col.small h2 {
    font-size: 60px;
    padding-top: 25px;
}
.main .container .col.small p {
    font-size: 25px;
    line-height: 1.5em;
}
.main.four .container {
    width: 1200px;
    height: 1100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: ;
}
.main.four .container h2 {
    font-size: 50px;
}
.main.four .container p {
    font-size: 25px;
    margin-bottom: 50px;
}
.main.four .container img {
    transform: scale(1.4);
    margin-top: 50px;
    margin-bottom: 60px;
}
.main.four .container h3 {
    font-size: 30px;
    margin-top: 60px;
    background-image: url(../img/stars.svg);
    background-size: 50%;
    background-repeat: repeat;
    background-position: center;
    margin-bottom: 50px;
}
.main.four .container .button {
    background-color: #8ea1e1;
    color: #fff;
    margin-top: 50px;
}
footer {
    background-color: #23272a;
    width: 100%;
    height: 650px;
    position: relative;
}
footer .container {
    width: 1200px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer .container .fbig .col {
    float: left;
    width: 16.25%;
    height: 350px;
    text-align: left;
}
footer .container .fbig .col.big {
    width: 35%;
    height: 300px;
}
footer .container .fbig .col.big h2 {
    color: #7289da;
    font-size: 30px;
}
footer .container .fbig .col.big span {
    color: #fff;
}
footer .container .fbig .col.big span img {
    transform: scale(0.3);
    vertical-align: middle;
    margin-left: -25px;
}
footer .container .fbig .col.big ul {
    list-style: none;
}
footer .container .fbig .col.big ul li {
    display: inline-block;
    color: #fff;
    margin-right: 15px;
}
footer .container .fbig .col ul
{
    list-style: none;
}
footer .container .fbig .col h2 {
    color: #7289da;
    font-size: 16px;
}
footer .container .fbig .col ul li {
    color: white;
    line-height: 2em;
    font-size: 16px;
}
hr {
    border-top: 1px solid #7289da;
    border-bottom: hidden;
}
.fsmall .col {
    float: left;
    width: 50%;
    margin-top: 40px;
}
.fsmall .col.log {
    text-align: right;
}
.fsmall .col .button {
    background-color: #8ea1e1;
    color: #fff
}
img[alt="wave"] {
    filter: opacity(0.04);
    margin-bottom: -4px;
}
.upside-down {
    transform: rotateX(180deg);
}
